.header div a{
    text-decoration:none;
    color:black;
}

.header{
    top:0;
    position:fixed;
    z-index:5;
    height:5vh;
    width:100%;
    background-color:white;
}

.header i:before{
    box-sizing:border-box;
    color: #515151;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    font-style: normal;
    font-size: 2vmin;
    margin-left: 2%;
}

.header i{
    cursor: pointer;
}

header div {
    box-sizing:border-box;
    height:100%;
    float:left;
    text-align:center;
    color: #515151;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
    margin-left : 2%;
    cursor: pointer;
}

.exit {
    color:#FBA1A1;

}

.logo-container {
    float:right;
    margin-top:0%;
    margin-right:5%;
}

#logo {
    display:inline-block;
    height:100%;
    cursor: pointer;
}
