@font-face {
    src :url(../fonts/Vazir-Thin.ttf);
    font-family: vazir-thin;
}

@font-face {
    src :url(../fonts/Vazir-Bold.ttf);
    font-family: vazir-bold;
}

@font-face {
    src :url(../fonts/Vazir-Medium.ttf);
    font-family: vazir-medium;
}

@font-face {
    src :url(../fonts/Vazir.ttf);
    font-family: vazir;
}

* {
    font-family: vazir-thin;
}


*{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 901px) {
    .minus-plus div,.minus-plus i:before,.price{
        font-size: 10px;
    }

    .order-name,.basket-title{
        font-size: 15px;
    }

}


@media screen and (max-width: 900px) {
    .minus-plus div,.minus-plus i:before,.price{
        font-size: 7px;
    }

    .price{
        font-size: 5px;
    }
}

html,body{
    height: 100%;
    min-height: 100%;
    background: #F7FFF7!important;
    padding: 0;
    margin: 0;
}

#root{
    min-height: 100%;
    position: relative;
}

.spinner-page{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;

}

.form-button{
    outline: none!important;
}

.home-logo-environment {
    position: relative;
    top:5vh;
    height: 24vh;
    width: 100%;
    border: 1px solid rgba(216, 101, 101, 0.3);
    background: url("../images/Cover.jpg") no-repeat center;
    background-size: cover;
    background: url("../images/Cover.jpg") no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(255, 107, 107, 0.3);
}

.layer {
    background-color: rgba(255, 107, 107, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.enviroment-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3vh;
    height: 24vh;
}

.search-box {
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
    padding: 1.3vmin;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    border-radius: 3px;
    width: 60vmin;
    color: white;
    text-align: center;
    text-shadow: 0.3px 0.3px;
    margin-bottom: 5vmin;
    -webkit-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;

}

.search-box-container{
    margin-top:-5.75vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-button{
    width: 27%;
    text-align: center;
    padding: 0.2vmin;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: #FFE66D;
    font-size: 0.7em;
    border-radius: 5px;
    color: #19535C;
    outline: none!important;
}

.search-food,.search-restaurant{
    width: 33%;
    margin-left: 2%;
    text-align: center;
    padding: 0.2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border:none;
    background-color: #F3F3F3;
    border: 1px solid #e2e2e2;
    font-size: 0.7em;
    border-radius: 5px;
}

.search-food,.search-restaurant:focus{
    outline:none;
}

#description {
    z-index: 1;
    color: white;
    text-align: center;
    text-shadow: 0.3px 0.3px;
    margin-bottom: 5vmin;
}



#description img{
    width: 11vmin;
    height:11vmin;
}

.description-text{
    font-size: 2.3vmin;
    padding-top: 1.5vh;
    margin-bottom: 5%;
}

#party-box{
    padding-top: 7vh;
}

#food-party{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.titre{
    text-align: center;
    width: 15%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-bottom:1px solid #003A4A;
    font-family: vazir-bold;
}

#food-party .timer{
    border:1px solid #003A4A;
    font-size: 1vw;
    margin-bottom: 1%;
    padding: 0.75vmin;
}

#food-party .scrollmenu {

    overflow: auto;
    white-space: nowrap;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    width: 100%;
    display: flex;
    flex-flow: row;
    box-shadow:-1px 1px 5px 0px rgba(224,221,224,1);


}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

.discountFood {
    width: 20vw;
    background-color:white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow:-1px 1px 5px 0px rgba(224,221,224,1);


}

@media screen and (min-width: 901px) {
    .discountFood {
        width:15vw;

    }

}

.discountFood .restaurant-photo-name {
    height: 55%;
    width:70%;
    display : flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top:1vh;
    position: relative;
    margin-bottom: 2vh;
}

@media screen and (min-width: 901px) {
    .discountFood .restaurant-photo-name {
        width:13vw;
        margin-bottom: 2vh;
    }

}

.discountFood .restaurant-photo-name img{
    width:6vw;
    height: 6vw;
    /* display: inline-block;*/
    position: relative;
    margin-top:0.5vmin;
    margin-bottom: 0.85vh;

}

@media screen and (min-width: 901px) {
    .discountFood .restaurant-photo-name img {
        width:4vw;
        height:4vw;
        margin-bottom: 0;
    }

}

.discountFood .restaurant-photo-name .discountFoodName{
    text-align: right;
    /*display: inline-block;*/
    width: 60%;
    font-size:1.4vmin;
    white-space: pre-wrap; /* css-3 */

    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */

    hite-space: -pre-wrap; /* Opera 4-6 */

    white-space: -o-pre-wrap; /* Opera 7 */

    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@media screen and (max-width: 900px) {
    .discountFood .restaurant-photo-name .discountFoodName {
        text-align: center;
        margin: 0 auto;
    }

}

.discountFood .prices{
    font-size: 1.25vmin;

}




.discountFood .buttons{
    font-size: 1.25vmin;
    border-bottom: 1px dashed #D3D3D3;
    padding-bottom: 1.4vmin;

    width: 100%;
    text-align: center;
}

.discountFood .buttons .remained{
    display: inline-block;
    text-align: center;
    border: 0.75px solid #D3D3D3;
    padding: 0 0.8vmin;

}

.discountFood .buttons button{
    display: inline-block;
    text-align: center;
    background-color: #4ECCC3;
    padding: 0 1.9vmin;

}

.discountFood .restaurantName{
    font-size:1.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2%;

}

#restaurants-container {
    width:100%;
    margin-top: 2vh;
    text-align: left;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 8vmin;
}

#restaurants {
    width:100%;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.restaurant {
    box-shadow:-1px 1px 5px 0px rgba(224,221,224,1);
    background-color: white;
    text-align:center;
    margin: 2vmin;
    width: 20%;
}

.restaurant img{
    width: 9vmin;
    margin:1vmin 0;
}

.restaurant .restaurantname{
    font-size: 1.75vmin;
    margin:1vmin 0;
    padding: 0 1vmin;
}

.restaurant button{
    font-size: 1.5vmin;
    margin:1vmin 0;
    background-color: #FFE66D;
    padding: 0 1vmin;
}

.more-restaurants{
    background-color: #FFE66D;
    padding: 1vmin;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 5vmin;
    padding-right: 5vmin;
    font-size: 1.5vmin;
    border-radius: 5px;


}
.more-restaurants:focus{
    outline:none;
}

#footer{
    font-size: 1.5vmin;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    background-color:#1A535C;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:5vmin;
}

.old-Price{
    text-decoration: line-through;
    text-decoration-color:red;
}

.starr{
    width:1vmin;
}
