@font-face {
    src :url(../fonts/Vazir-Thin.ttf);
    font-family: vazir-thin;
}

@media screen and (min-width:751px){
    .page-container{
        width: 60vw;
        height:70vh;
        top: 15vh;
        bottom: 15vh;
        right: 20vw;
        left: 20vw;
        border-radius: 20px;
    }

    .picture-login{
        border-top-left-radius:20px ;
        border-bottom-left-radius: 20px;
    }

}

@media screen and (max-width:750px){
    .page-container {
        width: 100vw;
        height: 100vh;
    }
}

* {
    font-family: vazir-thin;
}


body,html{
    height: 100%;
}

.picture-page {
    float: left;
    height: 100%;
    width: 50%;
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
}

.page-top{
    position: absolute;
    top:5%;
    right:5%;
    width: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login{
    font-size: 1.5vmin;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    cursor: pointer;
    transition: all .3s;
    width: 50%;
}

.login:active{
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    transform: translateY(3px);

}

.register{
    font-size: 1.5vmin;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color:#85C440 ;
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    cursor: pointer;
    transition: all .3s;
    width:50%;
}

.register:active{
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    transform: translateY(3px);

}

.page-container{
    position: absolute;
    background-color:white;
    box-shadow: 2px 0px 17px 6px #e2eae2;
    text-align: center;
    margin: auto;
}

.right-part{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:lightgray;

}

.page-title{
    margin-top:10vh ;
    position: relative;
    color:gray;
    font-size:4vmin;
    display: inline-block;
}

.btn-login{
    margin-top:5vh;
    background-color:#85C440;
    border-radius:20px;
    border: none;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    cursor: pointer;
    transition: all .3s;
    font-size:2vmin;
    width: 10vmin;
    outline: none!important

}

.btn-login:active{
    -webkit-box-shadow: 0 0 5px #466e29;
    box-shadow: 0 0 5px #466e29;
    transform: translateY(3px);

}

.page-container input:focus{
    outline:none;
}

.page-input{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.page-container input {
    width: 20vmin;
    border-style: solid;
    -webkit-box-shadow: 0 0 5px #e2e6ea;
    box-shadow: 0 0 5px #e2e6ea;
    border-radius: 10px;
    margin-top:10%;
    font-size: 1.5vmin;
    padding: 4px;
    border:0;
}

.g-signin2{
    width: 50%;
    margin-top: 3vmin;
    font-size: 1vmin;
}

.g-signin2 > div{
    margin: 0 auto;
}

.gLogOut {
    font-size: 1.5vmin;
    margin-top: 1.5vmin;

}

.google-sign{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 6vh;
    text-align: center;
    -webkit-box-shadow: 0 0 5px #e8e8e8;
    box-shadow: 0 0 5px #b1b1b1;
    margin-left: 1.5%;
    cursor: pointer;
}

.google-sign img{
    width: 20%;
    hight:20%;
}

.btn-text{
    padding-left: 4%;
    text-align: center;
    font-size: 1.7vmin;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color:black;
}

.google-signout{
    margin-top: 2.5%;
    font-size: 1.7vmin;
    cursor: pointer;
    margin-left: 4%;
}



